.ACT-wrapper h4 {
	text-transform: uppercase;
	}
	
li.subcat {
	margin-bottom:0px; 
	margin-top:15px;
	text-transform:uppercase;
	font-weight: bold;
}

li.subpost {
	margin-left:20px;
}

.ACT-wrapper .righttext {
	text-transform:uppercase; 
	float:right;
}